---
import GitHub from "./icons/GitHub.astro"
import Nuxt from "./icons/Nuxt.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Laravel from "./icons/Laravel.astro"
import Wordpress from "./icons/Wordpress.astro"
import Vue from "./icons/Vue.astro"

const TAGS = {
  NUXT: {
    name: "Nuxt",
    class: "bg-[#003159] text-white",
    icon: Nuxt,
  },
  VUE: {
    name: "Vue.js",
    class: "bg-[#003159] text-white",
    icon: Vue,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#003159] text-white",
    icon: Laravel,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#003159] text-white",
    icon: Wordpress,
  }
}
const PROJECTS = [
  {
    title: "Vallados TRICO",
    description:
      "Diseño y desarrollo de Landing Page de la empresa de montaje de vallados.",
    link: "https://valladostrico.com/",
    image: "/projects/valladostrico.com.webp",
    tags: [TAGS.VUE, TAGS.TAILWIND],
  },
  {
    title: "TriviCare Natural Cosmetics",
    description:
      "Desarrollo te toda la plataforma de ecommerce con API personalizada para la marca de cosmética (actualmente migrado a Wordpress).",
    link: "https://trivicare.com",
    image: "/projects/trivicare.com.webp",
    tags: [TAGS.NUXT, TAGS.LARAVEL, TAGS.TAILWIND, TAGS.WORDPRESS],
    github: "https://github.com/manuog1994/trivicare-shop"
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="3 años de experiencia en programación" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-wrap mb-2 gap-2">
        {tags.map((tag) => (
          <li class="flex justify-center">
            <span
              class={`flex gap-x-2 items-center text-nowrap rounded-full text-xs ${tag.class} py-1 px-2 `}
            >
              <tag.icon class="size-5" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



